<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PT_main.Properties.Settings.uczelniaConnectionString"
            connectionString="Data Source=WHYNOT-KOMPUTER\SQLEXPRESS;Initial Catalog=uczelnia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PT_main.Properties.Settings.PTprojectConnectionString"
            connectionString="Data Source=WHYNOT-KOMPUTER\SQLEXPRESS;Initial Catalog=PTproject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
